:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* /font */
  /* color */
  --main-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --black-color: #000000;
  --background-dark-color: #2f303a;
  --background-gray-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-item: #eeeeee;
  /* /color */
}

/* resset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
/*  */
/* components */

body {
  font-family: var(--main-font);
  background-color: var(--white-color);
  color: var(--main-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  border: none;
  font-family: var(--main-font);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* /components */
/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.menu-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list {
  display: flex;
  gap: 50px;
}

.header-logo {
  color: var(--black-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* /header */
/* hero */
/* .hero-container {
 } */

.hero {
  background-color: var(--background-dark-color);
  min-width: 1200px;

  padding-top: 200px;
  padding-bottom: 200px;
}

.maine-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* /hero */
/* ADVANTAGES */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: calc((100%-90) / 4);
}

.item-title {
  margin-bottom: 10px;
}
/* /ADVANTAGES */
/* work */
/* /work */
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  gap: 30px;
}
/* team */
.team {
  background-color: var(--background-gray-color);
  padding-top: 94px;
  padding-bottom: 94px;
  min-width: 1200px;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--white-color);
}

.item-title {
  text-align: center;
}
.item-descr {
  text-align: center;
}

.team-item-conteiner {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* /team */
/* footer */

.footer-logo {
  color: var(--white-color);
}

.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 1200px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* /footer */
/* portfolio */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-item {
  /* background-color: var(--portfolio-item); */
}

/* /portfolio */
